---
import '@fontsource/inter/100.css'
import '@fontsource/inter/200.css'
import '@fontsource/inter/300.css'
import '@fontsource/inter/400.css'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@fontsource/inter/900.css'
import Header from '../components/header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Derailed - Your place to talk</title>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://derailed.one/" />
		<meta property="og:site_name" content="Derailed" />
		<meta property="og:keywords" content="Free chat,Communications,Chat app,Derailed,Voice,Free voice,Chat,Discord alternatives,Open source chat,Open Communications, Free chat" />
		<meta property="og:description" content="A place for smart communications. Hang out with your friends, have a business meeting, or talk to communities about your newest release. Possibilities unlocked." />
		<meta property="description" content="A place for smart communications. Hang out with your friends, have a business meeting, or talk to communities about your newest release. Possibilities unlocked." />
	</head>
	<style>
		@font-face {
			font-family: Vampire Wars;
			src: url(../Vampire_Wars.ttf);
		}
	</style>
	<body>
		<div class="bg-[#0a1628]">
			<Header />
			<div class="text-white lg:pt-20 md:pt-20 sm:pt-14 font-header">
				<div class="px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						Your smart communications platform.
					</h1>
					<h3 class="text-xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-gray-200 m-auto">
						Hang out with your friends, have a business meeting, or form a new clan in the newest game.
						Limitless possibilities while being open, free, and secure.
					</h3>
					<div class="flex justify-center items-center pt-7 gap-7 pb-40">
						<a href="https://derailed.one/register">
							<button class="rounded-full text-xl px-6 py-2 bg-[#7364FF] transition duration-800 hover:bg-[#5d50d9]">
								Give it a try!
							</button>
						</a>
						<a href="https://github.com/derailedapp/derailed">
							<button class="rounded-full text-xl px-4 py-2 bg-[#FF785F] transition duration-800 hover:bg-[#d66651]">
								Check the Source
							</button>
						</a>
					</div>
				</div>
				<div class="pt-40 pb-40 bg-white text-[#0a1628] m-auto px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						Tomorrow's communication, today.
					</h1>
					<h3 class="text-xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-slate-900 m-auto">
						Communicate using a modern and safe interface tailored for you. Use the possibilities and
						power of Derailed's chat with a modern forum-based experience.
					</h3>
				</div>
				<div class="pt-40 pb-40 bg-[#0a1628] text-white m-auto px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						Speedy Communications at your doorstep.
					</h1>
					<h3 class="text-xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-gray-200 m-auto">
						Use a platform which is extra-speedy. We mean really speedy, don't worry about Derailed taking up
						too much memory on your computer, or taking too long to respond. We built Derailed from the ground up to be
						turbo fast.
					</h3>
				</div>
				<div class="pt-40 pb-40 bg-white text-[#0a1628] m-auto px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						Powered by Open Source.
					</h1>
					<h3 class="text-xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-slate-900 m-auto">
						Operate with an open platform which displays what its doing with your data, but not your data, publicly.
						Keep an ease of mind knowing we aren't selling your data to third-parties, and don't have any obvious vulnerabilities.
					</h3>
				</div>
	
				<div class="pt-40 pb-40 bg-[#0a1628] text-white m-auto px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						Mentored for Reliability.
					</h1>
					<h3 class="text-xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-gray-100 m-auto">
						Derailed's systems have been mentored for reliability.
						Get low latency high-quality Voice from January, and near-perfect Video playing
						in the grip of your fingers.
					</h3>
				</div>
	
				<div class="pt-40 bg-white text-[#0a1628] m-auto px-5 md:px-0">
					<h1 class="text-2xl text-center font-bold max-w-2xl m-auto pt-10">
						Tired of other platforms? Get started with Derailed!
					</h1>
					<div class="flex justify-center items-center pt-7 gap-7 pb-40">
						<a href="https://derailed.one/register">
							<button class="rounded-full text-white text-xl px-6 py-2 bg-[#7364FF] transition duration-800 hover:bg-[#5d50d9]">
								Start my journey
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
