---
import '@fontsource/inter/100.css'
import '@fontsource/inter/200.css'
import '@fontsource/inter/300.css'
import '@fontsource/inter/400.css'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@fontsource/inter/900.css'
import Header from '../components/header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Derailed - All-in-one communications toolkit, coming soon</title>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://derailed.one/" />
		<meta property="og:site_name" content="Derailed" />
		<meta property="og:keywords" content="Free chat,Communications,Chat app,Derailed,Voice,Free voice,Chat,Discord alternatives,Open source chat,Open Communications, Free chat" />
		<meta property="og:description" content="Your space to talk. Hang out with your friends, have a business meeting, or talk to communities about your newest release. Possibilities unlocked." />
		<meta property="description" content="Your space to talk. Hang out with your friends, have a business meeting, or talk to communities about your newest release. Possibilities unlocked." />
	</head>
	<style>
		@font-face {
			font-family: Vampire Wars;
			src: url(../Vampire_Wars.ttf);
		}
	</style>
	<body>
		<div class="bg-bgray h-screen">
			<Header />
			<div class="text-white lg:pt-20 md:pt-20 sm:pt-14 font-header">
				<div class="px-5 md:px-0">
					<h1 class="text-4xl text-center font-bold max-w-2xl m-auto pt-10">
						The all-in-one messaging and forum platform...
					</h1>
					<h3 class="text-4xl text-center font-light pt-12 lg:max-w-3xl md:max-w-2xl sm:max-w-xl text-gray-200 m-auto">
						Coming soon
					</h3>
			</div>
		</div>
	</body>
</html>
