.ruff_cache
.env
__pycache__
testing/
.data
_build/
cover/
deps/
/doc/
.fetch
erl_crash.dump
*.ez
derailed-*.tar
tmp/
.elixir_ls
.env
testing
node_modules
.turbo
target
.DS_Store
build
.svelte-kit
package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
