---
import InfinitySVG from '../unperturbed_enternity.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Derailed | Platform for Gamers</title>
	</head>
	<body>
		<div class="relative min-h-screen antialiased">
			<div class="bg-not-black-yet pt-60 pb-40 text-center text-white text-6xl">
				<h1 class="text-gray-200">
					Platform for Gamers
				</h1>
				<h1 class="text-almost-blue">
					Platform for Guilds
				</h1>

				<div class="text-2xl max-w-lg m-auto pt-10 text-gray-200/80 pb-10">
					Platform made for Gamers of all kinds. In a small friend group,
					or playing for a large eSports team? We've got you covered. With
					an excellent experience. All open, and all for free.
				</div>
				<a href="https://github.com/derailedapp/derailed">
					<button class="text-white text-xl px-4 py-2 bg-green-400 rounded-full transition duration-500 delay-150 hover:bg-green-500 hover:scale-110 hover:-translate-y-1 ease-in-out">
						View the Source
					</button>
				</a>
			</div>
			<div class="bg-almost-black-but-not text-center text-white pt-40 m-auto pb-40">
				<h1 class="text-4xl">
					Completely free
				</h1>
				<h1 class="text-xl pt-10 max-w-lg m-auto">
					Derailed is completely free to its core, no gotchas.
					You can make and join as much Guilds as you want,
					as much messages as you want, and as much everything as you want. no limits.
				</h1>
			</div>
			<div class="bg-not-black-yet text-center text-white pt-40 m-auto pb-40">
				<div class="flex items-center gap-5">
					<InfinitySVG />
					
					<div class="m-auto">
						<h1 class="text-4xl">
							Unperturbed Enternity
						</h1>
						<h1 class="text-xl pt-10 max-w-lg m-auto">
							Play for as long as you want, and talk for as long.
							Derailed has many failover systems to ensure our systems can stay running
							for enternity.
						</h1>
					</div>
				</div>
			</div>
			<div class="bg-almost-black-but-not text-center text-white pt-40">
				<div>
					<h1 class="pb-10 text-4xl font-semibold">
						Much More Coming
					</h1>
					<h1 class="text-xl">
						And we're not done yet. There is so much more to come.
					</h1>
					<ul class="flex justify-center items-center gap-0 pt-20 pb-20 flex-wrap max-w-5xl m-auto mobile:w-[750px]">
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Game Integrations</h1>
							<h5 class="max-w-md text-gray-200">
								Game integrations like you've never seen before --
								game overlays, in-app game stats, account linking, and more.
							</h5>
						</li>
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Bot API</h1>
							<h5 class="max-w-md text-gray-200">
								Create Bots, invite them to your server and automate everything. Moderation,
								Statistic reporting, anything. In one centralized Bot API.
							</h5>
						</li>
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Voice</h1>
							<h5 class="max-w-md text-gray-200">
								Voice Support which has an overload of goodies. Get audio so crisp
								you could hear a pin drop, and video so clean you couldn't distinguish it.
							</h5>
						</li>
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Forums</h1>
							<h5 class="max-w-md text-gray-200">
								Create Forum Channels, or Forum Guilds, which act with a forum-like experience,
								but with the features of the 21st century.
							</h5>
						</li>
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Relationships</h1>
							<h5 class="max-w-md text-gray-200">
								Add a user as a friend and talk to them in your DMs,
								or block a user for being too annoying. The opportunity is in your ballpark.
							</h5>
						</li>
						<li class="border border-solid border-[rgba(219,221,225,.25)] pl-[32px] pr-[25px] max-w-xs py-3 border-r border-l border-b">
							<h1 class="font-medium pb-5 text-lg text-almost-blue">Game Packs</h1>
							<h5 class="max-w-md text-gray-200">
								Custom themes, sounds and more specialized for a Game.
								Can be claimed by verifying you own the game on Steam, Epic Games, etc.
							</h5>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
