---
const {fname, header, description, svg} = Astro.props
import { Icon } from "astro-icon"
---

<div id={`feature-${fname}`}>
    <div class="bg-texty rounded-3xl font-header pb-20 max-w-7xl m-auto">
        <div class="flex px-10 py-10">
            <div class="w-80 max-lg:hidden mt-20 ml-28">
                <Icon name={svg} />
            </div>
            <div class="block pl-10">
                <h1 class="font-bold text-[#706fe3] text-right text-7xl max-w-xl pt-20">
                    {header}
                </h1>
                <h3 class="font-normal text-right text-white text-xl max-w-lg mr-40 mt-10 m-auto">
                    {description}
                </h3>
            </div>
        </div>
    </div>
</div>
