---
const {fname, header, description, svg} = Astro.props
import { Icon } from "astro-icon"
---

<div id={`feature-${fname}`}>
    <div class="bg-gray-200 rounded-3xl font-header max-w-7xl m-auto">
        <div class="flex px-10 py-10">
            <div class="w-80 max-md:hidden mt-20 mr-32">
                <Icon name={svg} />
            </div>
            <div class="block pr-4">
                <h1 class="font-bold text-[#706FE3] text-right text-7xl max-w-xl pt-20">
                    {header}
                </h1>
                <h3 class="font-normal text-right text-[#232226] text-xl max-w-lg mr-20 mt-10">
                    {description}
                </h3>
            </div>
        </div>
    </div>
</div>
