---
import { Icon } from 'astro-icon'
---

<div class="bg-[#232226] max-w-7xl m-auto">
    <div class="pt-1 pb-1 border-b-2 border-[#706FE3]">
        <div class="font-header m-auto h-10 px-5 flex">
            <div class="w-7 mt-1.5 ml-32 max-md:hidden">
                <Icon name="mascot_light" />
            </div>
            <h3 class="w-7 mt-1.5 ml-5 text-white md:hidden">
                Derailed
            </h3>
            <div class="ml-96 max-md:hidden font-light pt-1.5 flex gap-14 hidden">
                <a href="/register">
                    <h6 class="text-gray-300 transition duration-500 hover:text-gray-200">
                        Register
                    </h6>
                </a>
                <a href="/about">
                    <h6 class="text-gray-300 text-light transition duration-500 hover:text-gray-200">
                        About
                    </h6>
                </a>
                <a href="https://blog.derailed.one">
                    <h6 class="text-gray-300 font-light font-header transition duration-500 hover:text-gray-200">
                        Blog
                    </h6>
                </a>
            </div>
        </div>
    </div>
</div>
